---
import bio from "/aibry.jpg";
import ph from "/phflag.svg";
import jp from "/jpflag.svg";
---
<div class="mx-12 flex flex-col items-center justify-center gap-12 xl:flex-row xl:gap-32">
    <h1 class="font-bold align-middle">ア
        <br>
        イ
        <br>
        ブ
        <br>
        リ
        <br> |<br></h1>
        <h2>PROFILE</h2>
    <div>
        <div>
            <img src={bio} alt="">
        </div>
        <div class="mt-12">
            <div class="flex flex-row gap-4">
                <img src={jp} class="w-8 h-8" alt="">
                <img src={ph} class="w-8 h-8" alt="">
            </div>
            
            <h1 class="font-bold mt-5">大阪府 → 東京</h1>
            <p class="mt-6 mb-6 text-xl">2020年4月からギターを始め、シンガーソングライターとして梅田中心に路上ライブしてます！！
            <br>
            元々サッカーやバスケ・空手など様々なスポーツをし、体育の先生を目指していました。  
            <br>
            <br>
            スポーツをする中で何度も音楽に助けられる事があり、自分も音楽を通して沢山の人を「笑顔」「幸せ」にしたいと言う思いで高校卒業してから音楽活動を始めました。
            </p>
        </div>
    </div>
</div>