---
import {motion} from "framer-motion"
---

<div class="mx-12">
    <div class="my-12 flex flex-col items-center justify-center">
        <h1 class="font-bold text-xl text-blue-300">AIBRY LIVE</h1>
        <span class="block h-0.5 w-32 bg-gray-200 my-2"></span>
    </div>
    <div >
        <div class="grid grid-cols-1 items-center gap-24 xl:mx-12 xl:grid-cols-2">
            <div class="mb-4">
                <a class="" target="blank" href="https://www.youtube.com/@motchan_no_heya/featured">
                    <p class="text-blue-300 mb-4 transition duration-300 ease-in-out hover:text-gray-200">@MOTCHAN NO HEYA - もっちゃんの部屋 -</p>
                </a>
                <iframe class="w-full" width="320" height="315"
                    src="https://www.youtube.com/embed/8pBAaM8uplo">
                </iframe>
            </div>
            <div class="mb-4">
                <a class="" target="blank" href="https://www.youtube.com/@TokyoStreetLive4K">
                    <p class="text-blue-300 mb-4 transition duration-300 ease-in-out hover:text-gray-200">@Tokyo Street Live 4K</p>
                </a>
                <iframe class="w-full" width="320" height="315"
                    src="https://youtube.com/embed/AVn4uN5Au0c">
                </iframe>
            </div>
            <div class="mb-4">
                <a class="" target="blank" href="https://www.youtube.com/@motchan_no_heya/featured">
                    <p class="text-blue-300 mb-4 transition duration-300 ease-in-out hover:text-gray-200">@MOTCHAN NO HEYA - もっちゃんの部屋 -</p>
                </a>
                <iframe class="w-full" width="320" height="315"
                    src="https://www.youtube.com/embed/Nh-Ex0XwK3A">
                </iframe>
            </div>
            <div class="mb-4">
                <a class="" target="blank" href="https://www.youtube.com/@TokyoStreetLive4K">
                    <p class="text-blue-300 mb-4 transition duration-300 ease-in-out hover:text-gray-200">@Tokyo Street Live 4K</p>
                </a>
                <iframe class="w-full" width="320" height="315"
                    src="https://www.youtube.com/embed/UBgUbRY8teA">
                </iframe>
            </div>
    </div>
</div>

