---
import schedule from "/schedule.jpg";
---

<div class="mx-12 flex flex-col items-center justify-center gap-12 xl:flex-row xl:gap-32 xl:justify-center">
    <div class="flex flex-col items- gap-4 xl:items-start">
        <h1 class="text-xl font-semibold">SCHEDULE: 6月</h1>
        <div>
            <p>
                1 (木) 18:45~ 歌舞伎町タワー周辺 <br>(※ Zeep Shinjuku の付近)
            </p>
        </div>
        <div>
            <p>
                10 (土) 18:00~ 北海道札幌すすきの周辺
            </p>
        </div>
        <div>
            <p>11 (日) 17:00~ 北海道札幌すすきの周辺 <br>※私のギターの先生 <span class="text-blue-500 font-semibild">@katsuhisa umino</span>さんに サポートで入って頂きます!!)
            </p>
        </div>
        <div>
            <p>17 (土) 18:00~ 大阪府京橋駅前
            </p>
        </div>
        <div>
            <p>
                25 (日) 16:00~ 東京都新宿駅南口前
            </p>
        </div>
    </div>
    <div>
        <img class="h-[600px] rounded-xl" src={schedule} alt="">
    </div>
</div>